<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page }}</title>
        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <header>
        {% include "nav.html.twig" %}
    </header>
    <body class="container-fluid">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
