{% extends "base.html.twig" %}

{% block body %}
    <div class="modal-body">
        <p>Login With Google</p>
        <form method="post" action="{{ url }}">
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}