<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        {% include 'bs-css.html.twig' %}
    </head>
    <header>
        {% include 'nav.html.twig' with {'nav' : nav} %}
    </header>
    <body class="container-fluid">
    <h1>{{ page }}</h1>
    <br>
    <h4>{{ message }}</h4>

    {% include 'bs-scripts.html.twig' %}
    </body>
</html>

