extends layout

block content
    div.container.bg-dark.rounded.pb-5.pt-3.mt-2
        h1.mb-4.text-white.text-center= title
        div.container.mt-5
            if message
                div.alert.alert-success.alert-dismissible.fade.show.mt-3(role="alert")
                    button.close.p-0.mr-2(type="button" data-dismiss="alert" aria-label="Close")
                        span.h5.p-0(aria-hidden="true") &times;
                    p.h6.mb-0= message
            if errors
                //If errors exist then loop through the array and display each error
                each err in errors
                    div.alert.alert-danger.alert-dismissible.fade.show.mt-3(role="alert")
                        button.close.p-0.mr-2(type="button" data-dismiss="alert" aria-label="Close")
                            span.h5.p-0(aria-hidden="true") &times;
                        p.h6.mb-0= err.msg
        div.container.mb-3
            form(method='GET' action='/adduser')
                button.btn.btn-info
                    span Add User
        ul.list-group.col-12#users
            if users
                each user in users
                    li.list-group-item.d-flex.align-items-center
                        p.h3.text-light.col-4(style="overflow: hidden; text-overflow: ellipsis")= user.fname +" "+ user.lname
                        div.col-8.d-flex.justify-content-end
                            form(method='POST' action='/edituser/?id='+ user.id)
                                button.btn.btn-sm.btn-success.align-self-center.mr-3
                                    span Edit
                            form(method='POST' action='/deluser/?id='+ user.id)
                                button.btn.btn-sm.btn-danger.align-self-center
                                    span Delete