{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">

        <div id="container">

            Your application is now ready. You can start working on it at!

        </div>

    </div>

{% endblock %}